* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    font-size: 2rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
}

p {
    font-family: "Gotham", sans-serif;
}


.header {
    background-color: #eee;
    height: 10rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.logo {
    width: 10rem;
}

.logo img {
    justify-content: flex-start;
}


.products {
    display: flex;
    align-items: center;
}

.products a {
    color: #333;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1rem;
    /* Adjust the margin value as needed */
}


.button {
    display: inline-block;
    padding: 1.5rem;
    border-radius: 3rem;
    /* Adjust the value to control the roundness of the buttons */
    background-color: #ffffff;
    /* Set the background color */
    color: #fffbfb;
    /* Set the text color */
    font-size: 1.6rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 0.1rem solid black;


}

.button:nth-of-type(1) {
    margin-left: auto;
}

/* Style the hover effect */
.button:hover {
    background-color: #000000;
    color: #fff;
    background-position: -100% 0;
    /* Set a different background color on hover */
}



/* Hero section styles */
.hero-section {
    position: relative;
    height: 50rem;
    overflow: hidden;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    opacity: 0;
    transition: opacity 2s linear;
    /* Smooth transition over 2 seconds */
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);
    animation: rippleAnimation 2s linear forwards;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.shop-now-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 0.5s all;
    border-radius: 2rem;
}

.shop-now-button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s all
}

.ripple-effect {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.3rem;
    background: linear-gradient(to right, #fff, #000, #fff);
    /* Adjust the colors as desired */
    animation: rippleAnimation 2s linear infinite;
}

.hero-image.loaded {
    opacity: 1;
    /* Transition to full opacity when the "loaded" class is added */
}

/* Product Start */

.product-section {
    height: auto;
    display: flex;

    align-items: center;
    padding: 4rem;
    gap: 5rem;
}

.product-name {
    padding: 2rem;
    font-size: 3.5rem;
}

.product-image {
    max-width: 50%;
    height: auto;
    box-shadow: 0.4375rem 0.4375rem 1rem #c4c3c3, -0.4375rem -0.4375rem 1rem #ffffff;

}


.product-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.product-section h3 {
    font-size: 4rem;

}

.button-showcase {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 4rem;
    /* Adjust the value to control the roundness of the buttons */
    background-color: #ffffff;
    /* Set the background color */
    color: black;
    /* Set the text color */
    font-size: 4rem;
    transition: background-color 0.5s;
    position: relative;
    margin-top: 5rem;
}

.favicon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-family: "Font Awesome 5 Free";
    padding: 1rem;
}

.button-showcase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border: 0.2rem solid transparent;
    z-index: -1;
    animation: borderAnimation 2s linear infinite;
}

.button-showcase:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.button-showcase:hover::before {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.delen {
    font-size: 1.5rem;
}

/* Product End */

/* Product Start Sport.html */



.favicon {
    color: #999;
    font-size: 1.5rem;
}

.delen {
    font-size: 1.5rem;
    color: #999;
}

a {
    text-decoration: none;
    color: black;
}

.carousel {
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;

}

.carousel-images {
    display: flex;
    flex-wrap: wrap;

}

.carousel-card {
    padding: 3rem;
    margin-bottom: 4rem;

}

.carousel-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    box-shadow: 0.4375rem 0.4375rem 1rem #c4c3c3, -0.4375rem -0.4375rem 1rem #ffffff;
}

.carousel-card img:hover {
    transform: scale(1.1);
    cursor: pointer;
    /* Increase the image size by 10% */
}

.carousel-card figcaption {
    margin-top: 1rem;
    transition: transform 0.3s ease;

}

.carousel-card:hover figcaption {
    transform: scale(1.1);
    font-weight: bold;
    /* Increase the size of the figcaption */
}

.product-section-bottom {
    height: auto;
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 3rem;
}

.product-image-bottom {
    max-width: 50%;
    height: auto;
    order: 2
}

.product-content-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3;
}

.product-name-bottom {
    font-size: 3.5rem;
    padding: 4rem;
}

.button-showcase-bottom {
    margin-top: 1rem;
    background-color: #ff5f6d;
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


.section--review {
    background-color: #eee;
    display: flex;
    padding: 4rem;
    align-items: center;
    gap: 1rem;
}

.arrow {
    width: 10%;
    height: 20%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrow:hover {
    cursor: pointer;
    background: black;
    color: white
}



.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    width: 80%;
    flex-wrap: wrap;
}

.review {
    width: 30rem;
    background: white;
    list-style: none;
    padding: 4rem;
    min-height: 10rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2), inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.review:nth-of-type(4),
.review:nth-of-type(5),
.review:nth-of-type(6) {
    display: none;
}

.stars {
    color: gold;
}

.review p {
    font-size: 1.4rem;
    font-style: italic;
    border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
}


.steps-section {
    display: grid;
    grid-template-areas:
        "step1 step2"
        "step3 step4";
    gap: 18rem;
}

.step {
    padding: 2rem;
    border: 0.1rem solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    width: 50rem;
    height: 40rem;
    box-shadow: 0.4375rem 0.4375rem 1rem #c4c3c3, -0.4375rem -0.4375rem 1rem #ffffff;
    margin-left: 3rem;
}

.step1 {
    grid-area: step1;
}

.step2 {
    grid-area: step2;
}

.step3 {
    grid-area: step3;
}

.step4 {
    grid-area: step4;
}

.steps-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.steps-section p {}

.stepsimage {
    overflow: hidden;
    width: 18rem;
    height: 15rem;
    border-radius: 50%;
}

/* Begin Footer */
.footer {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    list-style: none;
}

.footer-content li {
    margin-right: 1rem;
}

.footer-content img {
    width: 3rem;
    height: 3rem;
}

.contact-info {
    list-style: none;
}

.contact-info li {
    margin-bottom: 0.5rem;
}

/* end footer */


@keyframes borderAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes rippleAnimation {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes carouselAnimation {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes borderExtraAnimation {
    0% {
        transform: rotate(0);
        border-image: linear-gradient(to right, #36b5d6, #1a4c64) 1;
    }

    25% {
        transform: rotate(90deg);
        border-image: linear-gradient(to right, #1a4c64, #36d668) 1;
    }

    50% {
        transform: rotate(180deg);
        border-image: linear-gradient(to right, #36d668, #d63636) 1;
    }

    75% {
        transform: rotate(270deg);
        border-image: linear-gradient(to right, #d63636, #36b5d6) 1;
    }

    100% {
        transform: rotate(360deg);
        border-image: linear-gradient(to right, #36b5d6, #1a4c64) 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

/* Base styles */

/* Your existing CSS code here */

/* Media queries for responsive design */

@media screen and (max-width: 37.5rem) {
    .header {
        flex-direction: column;
        padding: 1.5rem;
        height: auto;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .products {
        justify-content: center;
        margin: 1rem 0;
        text-align: center;
        flex-direction: column;
    }

    .products a {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4rem;
        text-decoration: none;
        color: black;
        background-color: #f9f9f9;
        border-radius: 0.5rem;
    }

    .products a:hover {
        background-color: #e0e0e0;
    }

    .button {
        flex: 1;
        height: 100%;
        padding: 0.5rem 1rem;
    }

    .product-section {
        flex-direction: column;
    }

    .carousel {
        flex-wrap: wrap;
    }

    .steps-section {
        grid-template-areas: "step1" "step2" "step3" "step4";
        gap: 3rem;
    }

    .step {
        width: auto;
        height: auto;
        /* Add any necessary styles for the vertical layout */
    }

    .product-section-bottom {
        flex-direction: column;
    }

    .arrow {
        background-color: #eee;

    }




}